{% extends 'milouse/base.html' %}
{% block title %}{{ _('about') }} - {% endblock %}
{% block content %}
{% include '__common__/about.html' %}
<hr/>
<div{% if rtl %} dir="ltr"{% endif %}>
  <h1>About this instance</h1>
  <h2>Who runs it?</h2>
  <p>This instance is run by <a href="https://etienne.depar.is">Étienne
    Deparis</a>.</p>
  <h2>Who has made the hats logo?</h2>
  <img src="/static/themes/milouse/img/hats-yellow.png" alt="Hats logo"
       style="float:left;width:80px;margin:0 1em 1em 0;"/>
  <p>The hats logo is a derivative work by Étienne Deparis, based on the
    original artwork <a href="https://openclipart.org/detail/15892/six-hats-1">Six Hat 1</a>
    by <a href="http://www.kattekrab.net/">kattekrab</a>, which was published under
    a <a href="http://creativecommons.org/licenses/publicdomain/">Creative Commons Public Domain License</a>.</p>
  <h2 style="clear:both;">Who has made the icons?</h2>
  <p>The icons come from the <a href="https://ionicons.com/">ionicons</a>
    project and are available under an MIT license.</p>
</div>
{% endblock %}
